@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');

.colors {
  color:  #E20074; /*Magenta*/
  color:  #000300; /*Black*/
  color:  #FBFFFD; /*White*/
  color: #ECF0F1; /*Matte white*/
  color: rgb(140, 140, 140); /*Grey*/
}

.html , body {
  background-color: #ECF0F1;
  font-family: 'Noto Serif', serif;
}

/*////////////// Navbar //////////////////// */
.nav {
  background-color: #000300;
  color: #FBFFFD;
  width: 100%;
  position: relative;
  z-index: 1;
}

.col-1 {
  max-width: 15%;
  flex: 0 0 15%;
}

.col-11 {
  max-width: 85%;
  flex: 0 0 85%;
}

.logo {
  width: 95%;
  height: 95%;
}

.title {
  font-size: 2.9vw;
  align-self: center;
}

#title-link {
  color: #FBFFFD;
}

/*/////////////// Home Page ///////////////////// */
.intro {
  text-align: center;
  margin: 10% 10vw 0 10vw;
  background-color: #000300;
  color: #FBFFFD;
  z-index: 1;
  position: relative;
}

.intro > h1 {
  font-weight: bold !important;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/powerlines.jpg);
}

.project-description-section {
  background-color: #ECF0F1;
  margin-top: 50vh;
}

.project-description-section > h2 {
  text-align: center;
  font-weight: bold;
}

.project-description-section .card-title {
  color: #E20074;
  font-weight: bold;
}

.intro-card {
  width: 15rem;
  height: 28rem;
  margin-left: 20px;
  text-align: center;
}

/*/////////////// About //////////////////////////*/
#about {
  text-align: center;
  margin-top: 10vh;
}

/*////////////// Device Page /////////////////////*/
.bodyContainer {
  background-color: rgb(238, 238, 238);
}

.deviceButton {
  cursor: pointer;
  background-color: #ED008C;
  border-color: #FBFFFD;

  padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.deviceButton:hover {
  background-color: #000300;
  border-color: #FBFFFD;
}

.tool-box-center {
  margin-left: 30%;
}

.vegeImage {
  height: 80vh;
  margin-left: 10px;
  border-radius: 10%;
  border: 1px solid #000300;
}

.imageBackground {
  background-color: #FBFFFD;
}

/* ////////////////// Search Bar /////////////////////// */
.searchbar{
  height: 50px;
  background-color: #000300;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 5px;
  }

  .search_input{
  color: #FBFFFD;
  border: 0;
  outline: 0;
  background: none;
  line-height: 40px;
  padding: 0 10px;
  width: 300px;
  caret-color:#E20074;
  }

  .searchbar:hover > .search_icon{
  background: #FBFFFD;
  color: #E20074;
  } 

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #E20074;
  }

  /*//////////////////SidePanel ////////////////////*/
.col-1-special {
  max-width: 5%;
  -webkit-flex: 0 0 5%;
  flex: 0 0 5%;
}

a, a:link {
  text-decoration: none !important;
}

.magenta-link {
  color: #E20074;
  cursor: pointer;
}

.magenta-link:hover {
  color: #FBFFFD;
}

.magenta-link:focus {
  outline: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 28px;
  height: 25px;
  left: 15px;
  top: 14px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #E20074;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #FBFFFD;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #FBFFFD;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #000300;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #FBFFFD;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

  

